<div class="login-container">
  <div class="left-container">
    <h1>Sign In</h1>

    <form action="">
      <div class="input">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" autocomplete />
        <label for="Password">Password</label>
        <input type="password" name="password" id="password" autocomplete />
      </div>
      <button type="submit">Sign In</button>
      <div class="actions">
        <div class="remember-me-wrapper">
          <input type="checkbox" name="remember-me" id="remember-me" />
          <label for="remember-me">Remember me</label>
        </div>

        <a href="#" class="forgot-password">Forgot password?</a>
      </div>
    </form>
  </div>

  <div class="right-container">
    <h1>Welcome to XYZ</h1>

    <p>Don't have an account?</p>
    <a href="#">Sign Up</a>

    <div class="seperator">
      <hr />
      <p>Or</p>
      <hr />
    </div>

    <ul>
      <li>GMAIL</li>
      <li>LinkedIn</li>
      <li>GitHub</li>
    </ul>
  </div>
</div>
