@import "../../variables";

.login-container {
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 40px;
  }
}

.left-container {
  h1 {
    align-self: flex-start;
  }
}

.right-container {
  height: 100%;
  background: linear-gradient(
    to bottom right,
    $primary-color,
    $secondary-color
  );
  background-clip: padding-box;
  border-radius: 0 8px 8px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;

  a {
    color: #fff;
  }

  .seperator {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    hr {
      flex-grow: 1; /* Allow both hr elements to grow equally */
      height: 1.6px; /* Define the height of the hr */
      background-color: #fff; /* Customize the hr's color */
      margin: 0; /* Reset default margins for hr elements */
      border: none; /* Remove hr's default border */
      width: 50px; /* Set the width of the hr elements */
    }

    p {
      margin: 0 1rem;
    }
  }

  ul {
    list-style-type: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      padding: 5px;
      border-radius: 5px;
      background-color: #fff;
      color: $secondary-color;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

    li:hover {
      background: linear-gradient(
        to bottom left,
        $primary-color,
        $secondary-color
      );
      color: #fff;
      cursor: pointer;
    }
  }
}
