<div class="login-container">
  <div class="left-container">
    <h1>{{ isRegistering ? "Sign up" : "Sign in" }}</h1>

    <ng-container *ngIf="isRegistering; else notRegistering">
      <app-register-form></app-register-form>
    </ng-container>
    <ng-template #notRegistering>
      <app-login-form></app-login-form>
    </ng-template>
  </div>

  <div class="right-container">
    <h1>Welcome to XYZ</h1>

    <p>
      {{
        isRegistering
          ? "Already have an account?"
          : "Don't have an account yet?"
      }}
    </p>
    <a href="#" (click)="changeMode()">{{
      isRegistering ? "Sign in" : "Sign up"
    }}</a>

    <div class="seperator">
      <hr />
      <p>Or</p>
      <hr />
    </div>

    <ul>
      <li>GMAIL</li>
      <li>LinkedIn</li>
      <li>GitHub</li>
    </ul>
  </div>
</div>
