@import "../../variables";

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.role-card {
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  // gradient
  background: linear-gradient(
    to bottom right,
    $primary-color,
    $secondary-color
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5vh 5vw;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
    text-align: center;
  }
}
